<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>C:\Users\.m2\repository</localRepository>
    <mirrors>
        <mirror>
            <id>nexus-pfomb</id>
            <mirrorOf>pfomb</mirrorOf>
            <url>https://nexus-ci.corp.dev.vtb/repository/pfomb-maven</url>
        </mirror>
		<mirror>
            <id>pfomb-maven-proxy</id>
            <mirrorOf>pfomb-maven-proxy</mirrorOf>
            <url>https://nexus-ci.corp.dev.vtb/repository/pfomb-maven-proxy-group</url>
        </mirror>
    <!--    <mirror>
	
            <id>nexus-project</id>
            <mirrorOf>central</mirrorOf>
            <url>https://nexus-ci.corp.dev.vtb/repository/rfrm-maven</url>
        </mirror>-->
    </mirrors>
    <profiles>
        <profile>
            <id>maven-public</id>
            <repositories>
                  <repository>
                    <id>pfomb</id>
                    <url>https://nexus-ci.corp.dev.vtb/repository/pfomb-maven</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
				<repository>
                    <id>pfomb-maven-proxy</id>
                    <url>https://nexus-ci.corp.dev.vtb/repository/pfomb-maven-proxy-group</url>
                     <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                
              <!--  <repository>
                    <id>nexus-project</id>
                    <url>https://nexus-ci.corp.dev.vtb/repository/rfrm-maven</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>nexus-cd</id>
                    <url>https://nexus-cd.region.vtb.ru/repository/rfrm-maven-test</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>-->
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>pfomb-maven-proxy</id>
                    <url>https://nexus-ci.corp.dev.vtb/repository/pfomb-maven-proxy-group</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <id>downloadSources</id>
            <properties>
                <downloadSources>true</downloadSources>
                <downloadJavadocs>true</downloadJavadocs>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>maven-public</activeProfile>
        <activeProfile>downloadSources</activeProfile>
    </activeProfiles>
    <servers>
		<server>
            <id>pfomb-maven-proxy</id>
            <username>vtb.....</username>
			<password>password</password>
        </server> 
		<server>
            <id>pfomb</id>
            <username>vtb.....</username>
			<password>password</password>
        </server> 
        <server>
            <id>nexus-public</id>
            <username>vtb.....</username>
			<password>password</password>
        </server>
        <server>
            <id>nexus-project</id>
            <username>vtb.....</username>
			<password>password</password>
        </server>
        <server>
            <id>nexus-pfomb</id>
            <username>vtb.....</username>
			<password>password</password>
        </server>
        <server>
            <id>nexus-cd</id>
            <username>vtb.....</username>
			<password>password</password>
        </server>
    </servers>
</settings>